.App {
  width: 100vw;
  height: 100vh;
  padding-top: 10px;

  font-family: "Baskerville BT", sans-serif;
  font-weight: bold;

  text-align: center;
}

.questionBox {
  background-color: #fff0e5;
  border: 1px solid black;
  box-shadow: -3px 3px 0 #10162f;

  padding-top: 5px;
  max-width: 500px;
  height: 300px;
  margin: auto;
}
h1 {
  font-size: 20px;
}
h2 {
  height: 65px;
  margin: 0;
  font-size: 30px;
}

.swing {
  display: inline-block;

  font-size: 65px;
  font-weight: 600;
  margin: 0;

  animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(0.8);
  }
}

input {
  font-family: "Baskerville BT", sans-serif;
  font-size: 18px;

  height: 30px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px 2px 0 #10162f;
  outline: none;
  margin: 0px 0px;
  text-align: center;
}

button {
  font-family: "Baskerville BT", sans-serif;
  font-weight: bold;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  padding: 8px 25px;
  margin-left: 10px;
  background-color: rgb(255, 81, 33);
  color: white;
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.782);
}

.trueBtn {
  background-color: rgb(0, 185, 65);
}
.falseBtn {
  background-color: rgb(255, 81, 33);
}
