.App {
  width: 100vw;
  height: 100vh;
  padding-top: 10px;

  font-family: "Baskerville BT", sans-serif;
  font-weight: bold;

  text-align: center;
}

.questionBox {
  background-color: #fff0e5;
  border: 1px solid black;
  box-shadow: -3px 3px 0 #10162f;

  padding-top: 30px;
  width: 98%;
  height: 500px;
  margin: auto;
}
h1 {
  font-size: 20px;
}
h2 {
  height: 70;
  font-size: 35px;
  overflow: visible;
}

.swing {
  display: inline-block;

  font-size: 50px;
  font-weight: 600;

  animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(0.8);
  }
}

input {
  height: 30px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px 2px 0 #10162f;
  outline: none;
  margin: 20px 0px;
}

button {
  font-family: "Baskerville BT", sans-serif;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 25px;
  background-color: rgb(255, 255, 255);
}
